<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="serialport-plugin"
        version="0.0.1">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/hello.js" target="js/hello.js"/>

  <js-module src="www/hello.js" name="hello">
    <clobbers target="hello" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Hello">
        <param name="android-package" value="com.serialport.plugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/Hello.java" target-dir="src/com/example/plugin/"/>
    <source-file src="src/android/libs/armeabi/libserial_port.so" target-dir="libs/armeabi"/>
    <source-file src="src/android/libs/armeabi-v7a/libserial_port.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/libs/x86/libserial_port.so" target-dir="libs/x86"/>

    <source-file src="src/android/jni/Android.mk" target-dir="jni"/>
    <source-file src="src/android/jni/Application.mk" target-dir="jni"/>
    <source-file src="src/android/jni/SerialPort.c" target-dir="jni"/>
    <source-file src="src/android/jni/SerialPort.h" target-dir="jni"/>
    <source-file src="src/android/jni/gen_SerialPort_h.sh" target-dir="jni"/>

  </platform>

</plugin>